<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <!-- Add specific package names here -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.dreamplug.androidapp" />
        <package android:name="com.naviapp" />
        <package android:name="money.super.payments" />
        <package android:name="net.one97.paytm" />
        <package android:name="com.phonepe.app" />
        <!-- Add other UPI app package names if needed -->
    </queries>

    <application
        android:name=".QRCodeScannerApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/pywize_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.QRCodeScanner"
        tools:targetApi="31">
        <activity
            android:name=".TransactionResultActivity"
            android:exported="false"
            android:theme="@style/Theme.QRCodeScanner" />
        <activity
            android:name=".AmountActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ScanQRActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity 
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.QRCodeScanner" />
        <activity
            android:name=".OTPVerificationActivity"
            android:exported="false"
            android:theme="@style/Theme.QRCodeScanner" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.QRCodeScanner" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.QRCodeScanner" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.QRCodeScanner" />
        <activity
            android:name=".TransactionsActivity"
            android:exported="false" />
    </application>

</manifest>